$color-pack = true
$toolbar-height = 4.5rem

@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme = {
  primary: #009FE8,
  accent: #001D4A,
  secondary: #E4007F,
  info: $blue.base,
  warning: $amber.base,
  error: $red.base,
  success: $green.base,
  ripple: $grey.base
}

@import '../../node_modules/vuetify/src/stylus/settings/_variables'

