body
  background: rgba(0, 0, 0, .005)

h2, h3, h4, h5, h6
  margin-top: 3rem
  
section
  padding: 0 1rem

ul
  padding-left: 2rem
  
.content
  padding: 1rem 3rem 0
  
  @media screen and (max-width: $grid-breakpoints.sm)
    padding: 1rem 0 0
